Repository pagopa/io-ipatente, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, my-vehicles, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
my-vehicles: apps/my-vehicles/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

update turbo
  package.json
Labels: none

yarn.lock update
  yarn.lock
Labels: none

update turbo.json to 2.x
  turbo.json
Labels: none

remove test console.log
  apps/my-vehicles/src/app/api/info/route.ts
Labels: my-vehicles

test codeQL in PR
  apps/my-vehicles/src/app/api/info/route.ts
Labels: my-vehicles

Revert "test codeQL in PR"
  apps/my-vehicles/src/app/api/info/route.ts
Labels: my-vehicles

test auto dir set for turbo cache based on version
  .github/workflows/code-review.yaml
Labels: ci

cleanup
  .github/workflows/code-review.yaml
Labels: ci

rollback turbo version to test automatic cache path on code-review
  package.json
  turbo.json
  yarn.lock
Labels: none

add dummy console log to trigger code review for testing purpose
  apps/my-vehicles/src/app/api/info/route.ts
Labels: my-vehicles

determine turbo cache path action
  .github/workflows/code-review.yaml
  .github/workflows/determine-turbo-cache-path.yaml
Labels: ci

fix typo
  .github/workflows/code-review.yaml
Labels: ci

trigger code-review action
  apps/my-vehicles/src/app/api/info/route.ts
Labels: my-vehicles

fix Determine Turbo Cache Path
  .github/workflows/code-review.yaml
Labels: ci

clean
  .github/workflows/code-review.yaml
  .github/workflows/determine-turbo-cache-path.yaml
Labels: ci

vitest configuration for backend and frontend
  apps/my-vehicles/package.json
  apps/my-vehicles/tsconfig.json
  apps/my-vehicles/vitest/vitest.config.node.mjs
  apps/my-vehicles/vitest/vitest.config.react.mjs
  apps/my-vehicles/vitest/vitest.setup.node.ts
  apps/my-vehicles/vitest/vitest.setup.react.ts
  turbo.json
  yarn.lock
Labels: my-vehicles

add backend sample unit test
  apps/my-vehicles/src/__tests__/test.test.ts
Labels: my-vehicles

add frontend sample unit test
  apps/my-vehicles/src/components/__tests__/test.test.tsx
  apps/my-vehicles/src/components/test-component.tsx
Labels: my-vehicles

update test component
  apps/my-vehicles/src/components/test-component.tsx
Labels: my-vehicles

changeset
  .changeset/three-carrots-tease.md
Labels: changeset

test TURBO_CACHE_DIR
  .github/workflows/code-review.yaml
Labels: ci

test custom turbo cache dir
  .github/workflows/code-review.yaml
Labels: ci

clean
  .github/workflows/code-review.yaml
Labels: ci

test custom action
  .github/actions/setup-node/action.yaml
  .github/workflows/code-review.yaml
Labels: ci

test
  .github/actions/setup-node/action.yaml
Labels: none

using code review from dx
  .github/actions/setup-node/action.yaml
  .github/workflows/code-review.yaml
  package.json
  turbo.json
Labels: ci

update yarn lock
  yarn.lock
Labels: none

cleanUp
  apps/my-vehicles/src/app/api/info/route.ts
Labels: my-vehicles
