Repository pagopa/io-ipatente, pull requests merged in 2024-12, with the labels that each got.

#156 [IOPAE-1612] Move auth callback route to @io-ipatente/core
  .changeset/proud-parrots-divide.md
  apps/licences/src/app/api/auth/callback/fims/cookies/route.ts
  apps/payments/src/app/api/auth/callback/fims/cookies/route.ts
  apps/practices/src/app/api/auth/callback/fims/cookies/route.ts
  apps/vehicles/src/app/api/auth/callback/fims/cookies/route.ts
  packages/core/lib/api/__tests__/auth-callback-handlers.test.ts
  packages/core/lib/api/auth-callback-handlers.ts
  packages/core/lib/api/index.ts
  packages/core/lib/index.ts
  packages/core/lib/wrappers/__tests__/with-jwt-auth-handler.test.ts
Labels: changeset, internal, vehicles, licences, payments, practices

#155 [IOPAE-1594 IOPAE-1595] Practices list and detail
  .changeset/four-goats-breathe.md
  apps/payments/src/utils/consts.ts
  apps/practices/public/locales/en/common.json
  apps/practices/public/locales/it/common.json
  apps/practices/src/components/practice-details/PracticeSectionDetails.tsx
  apps/practices/src/components/practice-details/PracticeTypeDetails.tsx
  apps/practices/src/components/practices/ListItemPractice.tsx
  apps/practices/src/pages/practices/[practiceNumber].tsx
  apps/practices/src/pages/practices/index.tsx
  packages/ui/lib/components/icon/Icon.tsx
  packages/ui/lib/components/icon/svg/IconFolderCrossBold.tsx
  packages/ui/lib/components/icon/svg/originals/IconFolderCrossBold.svg
  packages/ui/lib/components/list-item-action/ListItemAction.tsx
  packages/ui/lib/components/section-title/SectionTitle.tsx
Labels: changeset, internal, payments, practices

#160 Disable msw warn unhandled
  .changeset/weak-badgers-leave.md
  apps/licences/mocks/index.ts
Labels: changeset, licences

#157 [IOPAE-1601] mock receipt download
  .changeset/nasty-donkeys-carry.md
  apps/payments/mocks/data/backend-data.ts
  apps/payments/mocks/handlers/bff-handlers.ts
  apps/payments/mocks/handlers/ext-handlers.ts
  apps/payments/openapi/bff-openapi.yaml
  apps/payments/openapi/ext-openapi.yaml
  apps/payments/package.json
  apps/payments/public/locales/en/common.json
  apps/payments/public/locales/it/common.json
  apps/payments/src/app/api/pagamenti/ricevuta/[idRichiestaPagamento]/__tests__/route.test.ts
  apps/payments/src/app/api/pagamenti/ricevuta/[idRichiestaPagamento]/route.ts
  apps/payments/src/components/payment-details/IUVListDetails.tsx
  apps/payments/src/hooks/usePaymentReceipt.ts
  apps/payments/src/lib/bff/business.ts
  apps/payments/src/pages/payments/[requestId].tsx
  apps/payments/src/utils/consts.ts
  packages/core/lib/wrappers/__tests__/with-voucher-handler.test.ts
  packages/core/lib/wrappers/with-jwt-auth-handler.ts
  packages/core/lib/wrappers/with-jwt-auth-voucher-handler.ts
  packages/core/lib/wrappers/with-voucher-handler.ts
  packages/ui/lib/components/icon/Icon.tsx
  packages/ui/lib/components/icon/svg/IconDownload.tsx
  packages/ui/lib/components/icon/svg/originals/IconDownload.svg
  yarn.lock
Labels: changeset, internal, payments

#158 [IOPAE-1615]: static detail icon in vehicles detail
  .changeset/real-clocks-bathe.md
  apps/vehicles/src/components/vehicle-details/VehicleSectionDetails.tsx
Labels: changeset, chore, vehicles

#159 [IOPAE-1618]: add codiceFiscale required in openapis header
  .changeset/moody-terms-sin.md
  apps/licences/openapi/ext-openapi.yaml
  apps/vehicles/openapi/ext-openapi.yaml
Labels: changeset, vehicles, licences

#162 disable MSW in prod for payments
  .changeset/fresh-adults-fly.md
  apps/payments/.env.production
  infra/resources/_modules/payments_app_service/README.md
  infra/resources/_modules/payments_app_service/locals.tf
Labels: changeset, infra

#164 Configure payments practices mock deploy
  .changeset/yellow-lies-decide.md
  apps/payments/.env.production
  apps/practices/.env.production
  infra/resources/_modules/payments_app_service/locals.tf
  infra/resources/_modules/practices_app_service/README.md
  infra/resources/_modules/practices_app_service/locals.tf
Labels: changeset, infra

#167 fix azure deploy for practices app
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci, fix

#168 [IOPAE-1632] Middleware refinement
  .changeset/empty-planes-sparkle.md
  apps/licences/src/middleware.ts
  apps/payments/src/middleware.ts
  apps/practices/src/middleware.ts
  apps/vehicles/openapi/ext-openapi.yaml
  apps/vehicles/src/middleware.ts
  packages/core/lib/api/auth-callback-handlers.ts
  packages/core/lib/auth/auth-config.ts
  packages/core/lib/config/config.ts
  packages/core/lib/index.ts
  packages/core/lib/middleware/middleware.ts
  packages/core/lib/types/index.ts
  packages/core/lib/types/types.ts
  packages/core/lib/utils/constants.ts
  packages/core/lib/wrappers/with-jwt-auth-handler.ts
  packages/core/lib/wrappers/with-jwt-auth-voucher-handler.ts
Labels: changeset, internal, vehicles, licences, payments, practices

#163 [IOPAE-Vehicles]: UI fixes
  .changeset/stupid-cougars-cry.md
  apps/vehicles/src/components/vehicle-details/VehicleSectionDetails.tsx
  apps/vehicles/src/components/vehicle-details/VehicleSectionInspections.tsx
  apps/vehicles/src/components/vehicles/ListItemVehicle.tsx
  packages/ui/lib/components/dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
  packages/ui/lib/components/icon/svg/IconError.tsx
  packages/ui/lib/components/icon/svg/IconSuccess.tsx
  packages/ui/lib/components/icon/svg/IconWarning.tsx
Labels: changeset, internal, vehicles

#169 [IOPAE-1603] Set NextAuth maxAge
  .changeset/lemon-keys-wink.md
  packages/core/lib/auth/auth-config.ts
Labels: changeset, internal

#172 chore: vehicles - updated external openapi nullable fields
  .changeset/wild-carrots-develop.md
  apps/vehicles/openapi/ext-openapi.yaml
Labels: changeset, chore, vehicles

#173 Vehicles production config
  .changeset/two-lobsters-wash.md
  apps/vehicles/.env.production
  infra/resources/_modules/vehicles_app_service/README.md
  infra/resources/_modules/vehicles_app_service/locals.tf
Labels: changeset, infra

#175 chore: Added some auth logs
  .changeset/clean-foxes-hang.md
  packages/core/lib/api/auth-callback-handlers.ts
Labels: changeset, internal, chore

#179 Test force set callbackurl
  .changeset/lucky-flies-tap.md
  packages/core/lib/api/__tests__/auth-callback-handlers.test.ts
  packages/core/lib/api/auth-callback-handlers.ts
Labels: changeset, internal

#166 [IOPAE-1621,IOPAE-1623,IOPAE-1624,IOPAE-1625,IOPAE-1626,IOPAE-1627] - layout fixes for licences app
  .changeset/wet-pears-type.md
  apps/licences/public/locales/en/common.json
  apps/licences/public/locales/it/common.json
  apps/licences/src/components/licences/ListItemLicence.tsx
  apps/licences/src/pages/licences/[licenseNumber].tsx
  apps/licences/src/pages/licences/index.tsx
  packages/ui/lib/components/table/Table.tsx
  packages/ui/lib/components/table/__tests__/__snapshots__/Table.test.tsx.snap
Labels: changeset, internal, licences

#182 Force url with search param
  .changeset/fast-clouds-repeat.md
  packages/core/lib/api/auth-callback-handlers.ts
Labels: changeset, internal

#183 Auth callback redirect updates
  .changeset/thin-singers-rescue.md
  packages/core/lib/api/auth-callback-handlers.ts
Labels: changeset, internal

#185 Fix cookie selection
  .changeset/eighty-mugs-run.md
  packages/core/lib/api/auth-callback-handlers.ts
Labels: changeset, internal

#190 Set cookie domain in auth callback
  .changeset/swift-pens-raise.md
  packages/core/lib/api/__tests__/auth-callback-handlers.test.ts
  packages/core/lib/api/auth-callback-handlers.ts
  packages/core/lib/auth/auth-config.ts
Labels: changeset, internal

#192 Bypass app gateway vehicles
  .changeset/chilled-cobras-change.md
  apps/vehicles/.env.production
  infra/resources/_modules/vehicles_app_service/locals.tf
  packages/core/lib/api/auth-callback-handlers.ts
Labels: changeset, internal, infra

#194 Revert app gateway
  .changeset/lovely-jokes-cough.md
  apps/vehicles/.env.production
  infra/resources/_modules/vehicles_app_service/locals.tf
Labels: changeset, infra

#196 Build CallbackUrl using Proxy Headers
  .changeset/weak-goats-own.md
  packages/core/lib/api/auth-callback-handlers.ts
  packages/core/lib/middleware/middleware.ts
Labels: changeset, internal

#198 Fix callback path
  .changeset/friendly-rocks-teach.md
  packages/core/lib/api/auth-callback-handlers.ts
Labels: changeset, internal

#200 Test set cookie secure
  .changeset/tender-cougars-join.md
  packages/core/lib/api/__tests__/auth-callback-handlers.test.ts
  packages/core/lib/api/auth-callback-handlers.ts
Labels: changeset, internal

#202 test
  .changeset/sixty-ducks-greet.md
  packages/core/lib/api/auth-callback-handlers.ts
Labels: changeset, internal

#204 Add missing configurations and log cleanup
  .changeset/cool-fireants-reply.md
  infra/resources/_modules/licences_app_service/locals.tf
  infra/resources/_modules/vehicles_app_service/locals.tf
  packages/core/lib/api/__tests__/auth-callback-handlers.test.ts
  packages/core/lib/api/auth-callback-handlers.ts
  packages/core/lib/middleware/middleware.ts
Labels: changeset, internal, infra

#206 Minor fixes
  .changeset/warm-seahorses-bathe.md
  apps/licences/src/hooks/useLicences.ts
  apps/licences/src/pages/_app.tsx
  apps/licences/src/pages/licences/[licenseNumber].tsx
  apps/licences/src/pages/licences/index.tsx
  apps/vehicles/src/components/vehicle-details/VehicleSectionInspections.tsx
  apps/vehicles/src/components/vehicle-details/VehicleSectionRca.tsx
  packages/core/lib/api/auth-callback-handlers.ts
  packages/core/lib/auth/auth-config.ts
Labels: changeset, internal, vehicles, licences

#189 [IOPAE-1633,IOPAE-1634,IOPAE-1635,IOPAE-1636,IOPAE-1637,IOPAE-1638,IOPAE-1640] - layout fixes for payments and practices app
  .changeset/lazy-roses-mate.md
  apps/licences/public/locales/en/common.json
  apps/licences/public/locales/it/common.json
  apps/licences/src/components/layouts/AppLayout.tsx
  apps/licences/src/pages/assistance/index.tsx
  apps/payments/public/locales/en/common.json
  apps/payments/public/locales/it/common.json
  apps/payments/src/components/layouts/AppLayout.tsx
  apps/payments/src/components/payment-details/PaymentSectionDetails.tsx
  apps/payments/src/pages/assistance/index.tsx
  apps/practices/public/locales/en/common.json
  apps/practices/public/locales/it/common.json
  apps/practices/src/components/layouts/AppLayout.tsx
  apps/practices/src/components/practice-details/PracticeSectionDetails.tsx
  apps/practices/src/components/practice-details/PracticeTypeDetails.tsx
  apps/practices/src/pages/assistance/index.tsx
  apps/practices/src/pages/practices/[practiceNumber].tsx
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/src/components/layouts/AppLayout.tsx
  apps/vehicles/src/pages/assistance/index.tsx
Labels: changeset, vehicles, licences, payments, practices

#208 chore: Payments: added nullable fields on openapi specs
  .changeset/stale-hotels-fry.md
  apps/payments/openapi/bff-openapi.yaml
  apps/payments/openapi/ext-openapi.yaml
Labels: changeset, chore, payments

#210 [IOPAE-1604]Production configuration practices payments
  .changeset/mean-frogs-travel.md
  apps/payments/.env.production
  apps/practices/.env.production
  infra/resources/_modules/licences_app_service/locals.tf
  infra/resources/_modules/payments_app_service/locals.tf
  infra/resources/_modules/practices_app_service/locals.tf
  infra/resources/_modules/vehicles_app_service/locals.tf
Labels: changeset, infra

#211 [FIX] licences layout
  .changeset/dry-ears-punch.md
  apps/licences/src/pages/licences/[licenseNumber].tsx
  packages/ui/lib/components/table/Table.tsx
  packages/ui/lib/components/table/__tests__/__snapshots__/Table.test.tsx.snap
Labels: changeset, internal, licences

#214 chore: Added minor fixes on vehicles and licences
  .changeset/eighty-items-divide.md
  apps/licences/src/pages/licences/[licenseNumber].tsx
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/src/components/vehicle-details/VehicleSectionDetails.tsx
Labels: changeset, chore, vehicles, licences

#216 fix: redirects
  .changeset/quick-tables-develop.md
  apps/payments/src/pages/consent/index.tsx
  apps/practices/src/pages/consent/index.tsx
Labels: changeset, fix, payments, practices

#218 Disable otel ai vehicles
  .changeset/shiny-cycles-judge.md
  apps/vehicles/package.json
  apps/vehicles/src/instrumentation.node.ts
  apps/vehicles/src/instrumentation.ts
  infra/resources/_modules/vehicles_app_service/locals.tf
  infra/resources/_modules/vehicles_app_service/main.tf
  yarn.lock
Labels: changeset, vehicles, infra

#220 Revert ai vehicles
  .changeset/lucky-countries-boil.md
  apps/vehicles/package.json
  apps/vehicles/src/instrumentation.node.ts
  apps/vehicles/src/instrumentation.ts
  infra/resources/_modules/vehicles_app_service/locals.tf
  infra/resources/_modules/vehicles_app_service/main.tf
  yarn.lock
Labels: changeset, vehicles, infra

#222 add missing .next-server-app-it folder
  .changeset/curly-birds-invite.md
  apps/licences/package.json
  apps/payments/package.json
  apps/practices/package.json
  apps/vehicles/package.json
Labels: changeset, vehicles, licences, payments, practices

#224 Disable cache on GET route handlers by setting dynamic=force-dynamic
  .changeset/late-shrimps-thank.md
  apps/licences/src/app/api/info/route.ts
  apps/licences/src/app/api/puntiPatente/route.ts
  apps/payments/src/app/api/info/route.ts
  apps/payments/src/app/api/pagamenti/internal/route.ts
  apps/payments/src/app/api/pagamenti/route.ts
  apps/practices/src/app/api/info/route.ts
  apps/practices/src/app/api/pratiche/internal/route.ts
  apps/practices/src/app/api/pratiche/route.ts
  apps/vehicles/src/app/api/info/route.ts
  apps/vehicles/src/app/api/infoVeicoli/internal/route.ts
  apps/vehicles/src/app/api/infoVeicoli/route.ts
Labels: changeset, vehicles, licences, payments, practices

#226 Update next v14.2.15 to v14.2.20
  .changeset/cool-insects-shop.md
  apps/licences/next.config.mjs
  apps/licences/package.json
  apps/payments/next.config.mjs
  apps/payments/package.json
  apps/practices/next.config.mjs
  apps/practices/package.json
  apps/vehicles/next.config.mjs
  apps/vehicles/package.json
  packages/core/package.json
  yarn.lock
Labels: changeset, internal, vehicles, licences, payments, practices

#227 Fix: middleware
  .changeset/bright-plants-sleep.md
  packages/core/lib/middleware/middleware.ts
Labels: changeset, internal

#229 Update otel, use HttpInstrumentation instead of UnidiciInstrumentation
  .changeset/blue-wasps-burn.md
  apps/licences/package.json
  apps/licences/src/instrumentation.node.ts
  apps/payments/package.json
  apps/payments/src/instrumentation.node.ts
  apps/practices/package.json
  apps/practices/src/instrumentation.node.ts
  apps/vehicles/package.json
  apps/vehicles/src/instrumentation.node.ts
  yarn.lock
Labels: changeset, vehicles, licences, payments, practices

#231 chore: copy review
  .changeset/sweet-carrots-play.md
  apps/payments/public/locales/en/common.json
  apps/payments/public/locales/it/common.json
  apps/practices/public/locales/en/common.json
  apps/practices/public/locales/it/common.json
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
Labels: changeset, chore, vehicles, payments, practices

#233 chore: Added @azure-rest/batch to io-ipatente-vehicles
  .changeset/plenty-weeks-agree.md
  apps/vehicles/package.json
  yarn.lock
Labels: changeset, chore, vehicles

#234 fix : downgrade appinsight version
  apps/licences/package.json
  apps/licences/src/instrumentation.node.ts
  apps/payments/package.json
  apps/payments/src/instrumentation.node.ts
  apps/practices/package.json
  apps/practices/src/instrumentation.node.ts
  apps/vehicles/package.json
  apps/vehicles/src/instrumentation.node.ts
  yarn.lock
Labels: vehicles, fix, licences, payments, practices

#236 Update Unidici Instrumentation OTEL 0.3.0 -> 0.7.1
  .changeset/wicked-mirrors-drive.md
  apps/licences/package.json
  apps/payments/package.json
  apps/practices/package.json
  apps/vehicles/package.json
  yarn.lock
Labels: changeset, vehicles, licences, payments, practices

#238 Pin down applicationinsight
  .changeset/lovely-ravens-burn.md
  apps/licences/package.json
  apps/payments/package.json
  apps/practices/package.json
  apps/vehicles/package.json
  yarn.lock
Labels: changeset, vehicles, licences, payments, practices

#240 chore: updated logo in TopBar component
  .changeset/clever-cups-add.md
  apps/licences/public/locales/en/common.json
  apps/licences/public/locales/it/common.json
  apps/licences/src/components/layouts/AppLayout.tsx
  apps/payments/public/locales/en/common.json
  apps/payments/public/locales/it/common.json
  apps/payments/src/components/layouts/AppLayout.tsx
  apps/practices/public/locales/en/common.json
  apps/practices/public/locales/it/common.json
  apps/practices/src/components/layouts/AppLayout.tsx
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/src/components/layouts/AppLayout.tsx
  packages/ui/.gitignore
  packages/ui/lib/assets/logo.png
  packages/ui/lib/components/top-bar/TopBar.tsx
  packages/ui/lib/components/top-bar/__tests__/TopBar.test.tsx
  packages/ui/lib/components/top-bar/__tests__/__snapshots__/TopBar.test.tsx.snap
  packages/ui/lib/images.d.ts
  packages/ui/stories/TopBar.stories.ts
Labels: changeset, internal, chore, vehicles, licences, payments, practices

#235 chore: added NEXT_PUBLIC_FIMS_PRIVACY_URL value
  .changeset/wicked-pumas-fold.md
  apps/licences/.env.production
  apps/payments/.env.production
  apps/practices/.env.production
  apps/vehicles/.env.production
  infra/resources/_modules/licences_app_service/locals.tf
  infra/resources/_modules/payments_app_service/locals.tf
  infra/resources/_modules/practices_app_service/locals.tf
  infra/resources/_modules/vehicles_app_service/locals.tf
Labels: changeset, chore, infra

#242 chore: disable source map in prod
  .changeset/calm-cheetahs-sort.md
  apps/licences/next.config.mjs
  apps/payments/next.config.mjs
  apps/practices/next.config.mjs
  apps/vehicles/next.config.mjs
Labels: changeset, chore, vehicles, licences, payments, practices

#246 First major release for each app
  .changeset/many-buses-deny.md
  README.md
Labels: vehicles, licences, payments, practices

#248 chore: removed rca expiration info
  .changeset/clever-crabs-shake.md
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/src/components/vehicle-details/VehicleSectionRca.tsx
Labels: changeset, chore, vehicles

#250 Fix Scroll to Top Button
  .changeset/tough-lamps-dress.md
  apps/licences/src/components/layouts/AppLayout.tsx
  apps/licences/src/components/shared/ScrollToTopButton.tsx
  apps/licences/src/hooks/useScrollToTop.ts
  apps/payments/src/components/layouts/AppLayout.tsx
  apps/payments/src/components/shared/ScrollToTopButton.tsx
  apps/payments/src/hooks/useScrollToTop.ts
  apps/practices/src/components/layouts/AppLayout.tsx
  apps/practices/src/components/shared/ScrollToTopButton.tsx
  apps/practices/src/hooks/useScrollToTop.ts
  apps/vehicles/src/components/layouts/AppLayout.tsx
  apps/vehicles/src/components/shared/ScrollToTopButton.tsx
  apps/vehicles/src/hooks/useScrollToTop.ts
Labels: changeset, vehicles, licences, payments, practices

#252 Fix date format
  .changeset/chilly-singers-share.md
  apps/licences/src/pages/licences/[licenseNumber].tsx
  apps/payments/src/components/payment-details/IUVListDetails.tsx
  apps/payments/src/components/payment-details/PaymentSectionDetails.tsx
  apps/payments/src/pages/payments/[requestId].tsx
  apps/practices/src/components/practice-details/PracticeSectionDetails.tsx
  apps/practices/src/components/practices/ListItemPractice.tsx
Labels: changeset, licences, payments, practices

#254 [IOPAE-1571] Update starter repo TF module with new properties
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: infra
