Repository pagopa/io-ipatente, pull requests merged in 2024-11, with the labels that each got.

#67 [IOPAE-1402] Add Generic error component in vehicles
  .changeset/rude-nails-argue.md
  apps/vehicles/mocks/handlers/backend-handlers.ts
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/src/components/shared/GenericError.tsx
  apps/vehicles/src/pages/_app.tsx
  apps/vehicles/src/pages/vehicles/[licensePlate].tsx
  apps/vehicles/src/pages/vehicles/index.tsx
  apps/vehicles/types/react-query.d.ts
  packages/ui/lib/components/operation-result/OperationResult.tsx
  packages/ui/lib/components/operation-result/__tests__/OperationResult.test.tsx
  packages/ui/lib/components/operation-result/__tests__/__snapshots__/OperationResult.test.tsx.snap
Labels: changeset, internal, vehicles

#66 [IOPAE-1490] created assistance page
  .changeset/chilled-dancers-type.md
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/src/components/layouts/AppLayout.tsx
  apps/vehicles/src/pages/assistance/index.tsx
  apps/vehicles/src/pages/vehicles/[licensePlate].tsx
  apps/vehicles/src/pages/vehicles/index.tsx
  packages/ui/lib/components/page-header/PageHeader.tsx
  packages/ui/lib/components/page-header/__tests__/PageHeader.test.tsx
  packages/ui/lib/components/page-header/__tests__/__snapshots__/PageHeader.test.tsx.snap
  packages/ui/lib/components/top-bar/TopBar.tsx
  packages/ui/lib/components/top-bar/__tests__/TopBar.test.tsx
  packages/ui/lib/components/top-bar/__tests__/__snapshots__/TopBar.test.tsx.snap
  packages/ui/stories/PageHeader.stories.ts
  packages/ui/stories/TopBar.stories.ts
Labels: changeset, internal, vehicles

#59 [IOPAE-1485] extra mass modal
  .changeset/soft-zebras-act.md
  .changeset/tasty-emus-complain.md
  apps/vehicles/src/components/vehicle-details/VehicleSectionDetails.tsx
  apps/vehicles/src/pages/_app.tsx
  packages/ui/lib/components/card-info/CardInfo.tsx
  packages/ui/lib/components/card-info/__tests__/__snapshots__/CardInfo.test.tsx.snap
  packages/ui/lib/components/dialog/Dialog.tsx
  packages/ui/lib/components/dialog/__tests__/Dialog.test.tsx
  packages/ui/lib/components/dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
  packages/ui/lib/components/dialog/index.ts
  packages/ui/lib/components/icon/Icon.tsx
  packages/ui/lib/components/icon/svg/IconCloseCircle.tsx
  packages/ui/lib/components/icon/svg/IconError.tsx
  packages/ui/lib/components/icon/svg/IconInfo.tsx
  packages/ui/lib/components/icon/svg/IconSuccess.tsx
  packages/ui/lib/components/icon/svg/IconWarning.tsx
  packages/ui/lib/components/icon/svg/originals/IconCloseCircle.svg
  packages/ui/lib/components/icon/svg/originals/IconError.svg
  packages/ui/lib/components/icon/svg/originals/IconInfo.svg
  packages/ui/lib/components/icon/svg/originals/IconSuccess.svg
  packages/ui/lib/components/icon/svg/originals/IconWarning.svg
  packages/ui/lib/components/index.ts
  packages/ui/lib/hooks/dialog/index.ts
  packages/ui/lib/hooks/dialog/useDialog.ts
  packages/ui/lib/hooks/index.ts
  packages/ui/lib/index.ts
  packages/ui/lib/providers/dialog/DialogProvider.tsx
  packages/ui/lib/providers/dialog/index.ts
  packages/ui/lib/providers/index.ts
  packages/ui/stories/ColorPalette.mdx
  packages/ui/stories/Dialog.stories.tsx
Labels: changeset, internal, vehicles

#61 [IOPAE-1473] API infoVeicoli wrap up
  .changeset/brown-pumas-trade.md
  .gitignore
  README.md
  apps/vehicles/.env
  apps/vehicles/.env.development
  apps/vehicles/.env.production
  apps/vehicles/.env.test
  apps/vehicles/mocks/data/backend-data.ts
  apps/vehicles/mocks/handlers/bff-handlers.ts
  apps/vehicles/mocks/handlers/ext-handlers.ts
  apps/vehicles/mocks/handlers/index.ts
  apps/vehicles/openapi/bff-openapi.yaml
  apps/vehicles/openapi/ext-openapi.yaml
  apps/vehicles/package.json
  apps/vehicles/src/app/api/auth/mocks/oidc/userinfo/route.ts
  apps/vehicles/src/app/api/infoVeicoli/__tests__/route.test.ts
  apps/vehicles/src/app/api/infoVeicoli/route.ts
  apps/vehicles/src/common/client.ts
  apps/vehicles/src/components/vehicle-details/VehicleSectionDetails.tsx
  apps/vehicles/src/components/vehicle-details/VehicleSectionInspections.tsx
  apps/vehicles/src/components/vehicle-details/VehicleSectionRca.tsx
  apps/vehicles/src/components/vehicles/ListItemVehicle.tsx
  apps/vehicles/src/config/index.ts
  apps/vehicles/src/hooks/useVehicles.ts
  apps/vehicles/src/lib/bff/__tests__/business.test.ts
  apps/vehicles/src/lib/bff/__tests__/with-jwt-auth-handler.test.ts
  apps/vehicles/src/lib/bff/__tests__/with-jwt-auth-voucher-handler.test.ts
  apps/vehicles/src/lib/bff/__tests__/with-voucher-handler.test.ts
  apps/vehicles/src/lib/bff/business.ts
  apps/vehicles/src/lib/bff/client.ts
  apps/vehicles/src/lib/bff/with-jwt-auth-handler.ts
  apps/vehicles/src/lib/bff/with-jwt-auth-voucher-handler.ts
  apps/vehicles/src/lib/bff/with-voucher-handler.ts
  apps/vehicles/src/pages/_app.tsx
  apps/vehicles/src/utils/strings.ts
  apps/vehicles/vitest/vitest.config.node.mjs
  apps/vehicles/vitest/vitest.config.react.mjs
  packages/core/lib/bff/__tests__/client-assertion.test.ts
  packages/core/lib/bff/client-assertion.ts
  turbo.json
Labels: changeset, internal, vehicles

#70 [IOPAE-1505] Added Interoperability get voucher msw mock
  .changeset/olive-shrimps-train.md
  apps/vehicles/.env
  apps/vehicles/.env.development
  apps/vehicles/.env.test
  apps/vehicles/mocks/data/interop-data.ts
  apps/vehicles/mocks/handlers/ext-handlers.ts
  apps/vehicles/mocks/handlers/index.ts
  apps/vehicles/mocks/handlers/interop-handlers.ts
  packages/core/lib/config/config.ts
Labels: changeset, internal, vehicles

#60 [#IOPAE-1493] Setup iPatente Infra
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  .github/workflows/pr_infra.yaml
  .github/workflows/release_docker_image.yaml
  .github/workflows/release_infra.yml
  .github/workflows/repository_builder.yaml
  .pre-commit-config.yaml
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
  infra/identity/prod/outputs.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/data.tf
  infra/repository/github_branch_rules.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repo_secrets.tf
  infra/repository/github_repository.tf
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/resources/_modules/key_vault/README.md
  infra/resources/_modules/key_vault/main.tf
  infra/resources/_modules/key_vault/outputs.tf
  infra/resources/_modules/key_vault/policy.tf
  infra/resources/_modules/key_vault/variables.tf
  infra/resources/_modules/vehicles_app_service/README.md
  infra/resources/_modules/vehicles_app_service/autoscaler.tf
  infra/resources/_modules/vehicles_app_service/locals.tf
  infra/resources/_modules/vehicles_app_service/main.tf
  infra/resources/_modules/vehicles_app_service/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/providers.tf
Labels: ci, infra

#71 fix release infra
  .github/workflows/release_infra.yml
Labels: ci, fix

#73 Iopae 1527 fix release action
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/release.yaml
  apps/vehicles/next.config.mjs
  apps/vehicles/package.json
  apps/vehicles/turbo.json
Labels: ci, vehicles

#75 edit subnet cause already used
  .tflint.hcl
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
Labels: infra

#76 [IOPAE-1519,IOPAE-1520] Move middleware and auth config to `@io-ipatente/core`
  .changeset/rare-apes-promise.md
  apps/vehicles/src/app/api/infoVeicoli/route.ts
  apps/vehicles/src/auth.ts
  apps/vehicles/src/lib/bff/with-jwt-auth-handler.ts
  apps/vehicles/src/lib/bff/with-jwt-auth-voucher-handler.ts
  apps/vehicles/src/middleware.ts
  apps/vehicles/types/next-auth.d.ts
  packages/core/lib/auth/auth-config.ts
  packages/core/lib/auth/index.ts
  packages/core/lib/index.ts
  packages/core/lib/middleware/index.ts
  packages/core/lib/middleware/middleware.ts
  packages/core/package.json
  yarn.lock
Labels: changeset, internal, vehicles

#78 [#IOPAE-1493] Role assignment fixes
  .terraform-version
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/resources/_modules/key_vault/README.md
  infra/resources/_modules/key_vault/variables.tf
  infra/resources/_modules/vehicles_app_service/README.md
  infra/resources/_modules/vehicles_app_service/variables.tf
  infra/resources/prod/main.tf
Labels: infra

#79 Fix infra deploy
  .github/workflows/azure-deploy-manual.yaml
  infra/resources/_modules/key_vault/README.md
  infra/resources/_modules/key_vault/outputs.tf
  infra/resources/_modules/vehicles_app_service/README.md
  infra/resources/_modules/vehicles_app_service/locals.tf
  infra/resources/_modules/vehicles_app_service/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: ci, infra

#80 [IOPAE-1536] Set autoscaling for vehicle app
  infra/resources/_modules/vehicles_app_service/README.md
  infra/resources/_modules/vehicles_app_service/autoscaler.tf
Labels: infra

#81 fix healthcheck on action
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
Labels: ci, fix

#82 Fix env prod url
  .changeset/rude-comics-worry.md
  apps/vehicles/.env.production
Labels: changeset

#83 Fix authentication flow in dev mode
  .changeset/early-hairs-hide.md
  packages/core/lib/middleware/middleware.ts
Labels: changeset, internal

#84 Assign kv reader role to vehicles app service
  .pre-commit-config.yaml
  .tflint.hcl
  infra/resources/_modules/vehicles_app_service/README.md
  infra/resources/_modules/vehicles_app_service/main.tf
  infra/resources/_modules/vehicles_app_service/variables.tf
Labels: infra

#87 [IOPAE-1528] Application insight otel
  .changeset/stale-cups-invite.md
  apps/vehicles/eslint.config.mjs
  apps/vehicles/next.config.mjs
  apps/vehicles/package.json
  apps/vehicles/src/instrumentation.node.ts
  apps/vehicles/src/instrumentation.ts
  yarn.lock
Labels: changeset, vehicles

#88 Test trust host
  .changeset/proud-mugs-relate.md
  apps/vehicles/.env.production
  infra/resources/_modules/vehicles_app_service/locals.tf
  packages/core/lib/auth/auth-config.ts
Labels: changeset, internal, infra

#69 [IOPAE-1523] floating button component
  .changeset/cool-cars-kiss.md
  apps/vehicles/src/components/layouts/AppLayout.tsx
  apps/vehicles/src/components/shared/ScrollToTopButton.tsx
  apps/vehicles/src/hooks/useScrollToTop.ts
  apps/vehicles/src/pages/vehicles/[licensePlate].tsx
  packages/ui/lib/components/floating-button/FloatingButton.tsx
  packages/ui/lib/components/floating-button/__tests__/FloatingButton.test.tsx
  packages/ui/lib/components/floating-button/__tests__/__snapshots__/FloatingButton.test.tsx.snap
  packages/ui/lib/components/floating-button/index.ts
  packages/ui/lib/components/icon/Icon.tsx
  packages/ui/lib/components/icon/svg/IconExpandUp.tsx
  packages/ui/lib/components/icon/svg/originals/IconExpandUp.svg
  packages/ui/lib/components/index.ts
  packages/ui/stories/FloatingButton.stories.tsx
Labels: changeset, internal, vehicles

#90 Test auth conf
  .changeset/red-rockets-guess.md
  apps/vehicles/.env.production
  infra/resources/_modules/vehicles_app_service/locals.tf
  packages/core/lib/auth/auth-config.ts
Labels: changeset, internal, infra

#92 Staging role kv role assignment
  infra/resources/_modules/vehicles_app_service/README.md
  infra/resources/_modules/vehicles_app_service/main.tf
Labels: infra

#95 OIDC mock explict enable
  .changeset/neat-news-applaud.md
  apps/vehicles/src/app/api/auth/mocks/oidc/.well-known/openid-configuration/route.ts
  apps/vehicles/src/app/api/auth/mocks/oidc/authorize/route.ts
  apps/vehicles/src/app/api/auth/mocks/oidc/jwks/route.ts
  apps/vehicles/src/app/api/auth/mocks/oidc/token/route.ts
  apps/vehicles/src/app/api/auth/mocks/oidc/userinfo/route.ts
  infra/resources/_modules/vehicles_app_service/locals.tf
Labels: changeset, vehicles, infra

#97 fix config typo
  infra/resources/_modules/vehicles_app_service/locals.tf
Labels: fix, infra

#86 [IOPAE-1518] App vehicles: bff code refactored into @io-ipatente/core package
  .changeset/calm-owls-cheer.md
  apps/vehicles/src/app/api/infoVeicoli/__tests__/route.test.ts
  apps/vehicles/src/app/api/infoVeicoli/route.ts
  apps/vehicles/src/lib/bff/__tests__/with-jwt-auth-handler.test.ts
  apps/vehicles/src/lib/bff/with-jwt-auth-handler.ts
  packages/core/lib/index.ts
  packages/core/lib/interop/__tests__/client-assertion.test.ts
  packages/core/lib/interop/__tests__/voucher.test.ts
  packages/core/lib/interop/client-assertion.ts
  packages/core/lib/interop/index.ts
  packages/core/lib/interop/voucher.ts
  packages/core/lib/utils/constants.ts
  packages/core/lib/utils/errors.ts
  packages/core/lib/utils/index.ts
  packages/core/lib/wrappers/__tests__/with-jwt-auth-handler.test.ts
  packages/core/lib/wrappers/__tests__/with-jwt-auth-voucher-handler.test.ts
  packages/core/lib/wrappers/__tests__/with-voucher-handler.test.ts
  packages/core/lib/wrappers/index.ts
  packages/core/lib/wrappers/with-jwt-auth-handler.ts
  packages/core/lib/wrappers/with-jwt-auth-voucher-handler.ts
  packages/core/lib/wrappers/with-voucher-handler.ts
Labels: changeset, internal, vehicles

#99 [IOPAE-1549] Wrap select function in `useCallback`
  .changeset/two-zebras-double.md
  apps/vehicles/src/hooks/useVehicles.ts
  apps/vehicles/src/pages/vehicles/[licensePlate].tsx
Labels: changeset, vehicles

#102 [IOPAE-1550] - fix vehicles test types
  .changeset/orange-bananas-grow.md
  packages/core/lib/wrappers/__tests__/with-jwt-auth-handler.test.ts
  packages/core/lib/wrappers/__tests__/with-jwt-auth-voucher-handler.test.ts
Labels: changeset, internal, fix

#104 Clean Opentelemetry Configuration
  .changeset/many-roses-return.md
  apps/licences/next.config.mjs
  apps/licences/package.json
  apps/licences/src/instrumentation.node.ts
  apps/licences/src/instrumentation.ts
  apps/vehicles/package.json
  apps/vehicles/src/instrumentation.ts
  infra/resources/_modules/vehicles_app_service/locals.tf
  yarn.lock
Labels: changeset, vehicles, infra, licences

#105 [IOPAE-1558] Copy review
  .changeset/poor-pens-double.md
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/src/components/vehicle-details/VehicleSectionRca.tsx
  apps/vehicles/src/pages/assistance/index.tsx
  apps/vehicles/src/pages/vehicles/index.tsx
  packages/ui/lib/components/list-item-action/ListItemAction.tsx
  packages/ui/lib/components/list-item-action/__tests__/__snapshots__/ListItemAction.test.tsx.snap
Labels: changeset, internal, vehicles

#108 [IOPAE-1559] Add `EXTRAM_MSG_006` code
  .changeset/shy-lies-doubt.md
  apps/vehicles/mocks/data/backend-data.ts
  apps/vehicles/openapi/bff-openapi.yaml
  apps/vehicles/openapi/ext-openapi.yaml
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/src/components/vehicle-details/VehicleSectionDetails.tsx
  apps/vehicles/src/utils/strings.ts
Labels: changeset, vehicles

#110 Bring back ApplicationInsight SDK
  .changeset/new-crews-shave.md
  apps/licences/next.config.mjs
  apps/licences/package.json
  apps/licences/src/instrumentation.node.ts
  apps/licences/src/instrumentation.ts
  apps/vehicles/mocks/index.ts
  apps/vehicles/next.config.mjs
  apps/vehicles/package.json
  apps/vehicles/src/app/api/infoVeicoli/route.ts
  apps/vehicles/src/instrumentation.node.ts
  apps/vehicles/src/instrumentation.ts
  yarn.lock
Labels: changeset, vehicles, licences

#107 [IO-PAE-1553] - removed AppLayout description
  .changeset/strong-islands-switch.md
  apps/licences/public/locales/en/common.json
  apps/licences/public/locales/it/common.json
  apps/licences/src/pages/licences/index.tsx
Labels: changeset, chore, licences

#109 [IOPAE-1554] licences list item
  .changeset/blue-chairs-develop.md
  apps/licences/openapi/bff-openapi.yaml
  apps/licences/public/locales/en/common.json
  apps/licences/public/locales/it/common.json
  apps/licences/src/components/licences/ListItemLicence.tsx
  apps/licences/src/pages/licences/[licenseNumber].tsx
  apps/licences/src/pages/licences/index.tsx
Labels: changeset, licences

#116 [IOPAE-1564] Add licences app service
  infra/resources/_modules/licences_app_service/README.md
  infra/resources/_modules/licences_app_service/autoscaler.tf
  infra/resources/_modules/licences_app_service/locals.tf
  infra/resources/_modules/licences_app_service/main.tf
  infra/resources/_modules/licences_app_service/variables.tf
  infra/resources/_modules/vehicles_app_service/locals.tf
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

#117 [IOPAE-1557] license mov history detail dialog
  .changeset/good-points-poke.md
  apps/licences/public/locales/en/common.json
  apps/licences/public/locales/it/common.json
  apps/licences/src/components/licence-details/LicenceMovementDetail.tsx
  apps/licences/src/components/licences/ListItemLicence.tsx
  apps/licences/src/pages/licences/[licenseNumber].tsx
  apps/licences/src/pages/licences/index.tsx
  packages/ui/lib/components/table/Table.tsx
Labels: changeset, internal, licences

#115 [IOPAE-1562] Add loading state in LicenceDetails and VehicleDetails
  .changeset/quick-cougars-dress.md
  apps/licences/src/pages/licences/[licenseNumber].tsx
  apps/vehicles/src/pages/vehicles/[licensePlate].tsx
  apps/vehicles/src/pages/vehicles/index.tsx
  packages/ui/lib/components/card-info/CardInfo.tsx
  packages/ui/lib/components/list-item-action/ListItemAction.tsx
  packages/ui/lib/components/list-item-action/__tests__/__snapshots__/ListItemAction.test.tsx.snap
  packages/ui/lib/components/section-title/SectionTitle.tsx
  packages/ui/lib/components/section-title/__tests__/SectionTitle.test.tsx
  packages/ui/lib/components/section-title/__tests__/__snapshots__/SectionTitle.test.tsx.snap
  packages/ui/stories/SectionTitle.stories.tsx
Labels: changeset, internal, vehicles, licences

#118 [IOPAE-1565]Add licences autoscaler and licences deploy step to action
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  infra/resources/_modules/licences_app_service/README.md
  infra/resources/_modules/licences_app_service/autoscaler.tf
  infra/resources/_modules/licences_app_service/locals.tf
  infra/resources/_modules/vehicles_app_service/locals.tf
Labels: ci, infra

#119 [IOPAE-1566] fix key in map inside dialog
  .changeset/thin-beans-smell.md
  apps/licences/src/components/licence-details/LicenceMovementDetail.tsx
Labels: changeset, licences

#121 chore: Updated licence mov mock with negative points
  .changeset/moody-lizards-cry.md
  apps/licences/mocks/data/backend-data.ts
Labels: changeset, chore, licences

#123 Fix licences on release action
  .github/workflows/release.yaml
Labels: ci

#124 chore: copy review
  .changeset/brown-boxes-type.md
  apps/licences/public/locales/en/common.json
  apps/licences/public/locales/it/common.json
  apps/licences/src/components/licence-details/LicenceMovementDetail.tsx
  apps/licences/src/pages/assistance/index.tsx
  apps/licences/src/pages/licences/[licenseNumber].tsx
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
Labels: changeset, chore, vehicles, licences

#126 [IOPAE-1567] bff keepalive config
  .changeset/metal-flowers-hide.md
  apps/licences/src/common/client.ts
  apps/licences/src/lib/bff/client.ts
  apps/vehicles/src/common/client.ts
  apps/vehicles/src/lib/bff/client.ts
  infra/resources/_modules/licences_app_service/locals.tf
  infra/resources/_modules/vehicles_app_service/locals.tf
  packages/core/lib/config/config.ts
  packages/core/lib/utils/agent.ts
  packages/core/lib/utils/index.ts
Labels: changeset, internal, vehicles, infra, licences

#128 Set Vehicles appGateway url
  .changeset/pretty-singers-remember.md
  apps/vehicles/.env.production
  infra/resources/_modules/vehicles_app_service/locals.tf
Labels: changeset, infra

#131 remove subpath on vehicles app for test
  .changeset/slow-parents-smell.md
  apps/vehicles/.env.production
  infra/resources/_modules/vehicles_app_service/locals.tf
Labels: changeset, infra

#134 Deploy vehicles root appGateway
  .changeset/neat-cats-develop.md
  apps/vehicles/src/app/api/infoVeicoli/internal/route.ts
Labels: changeset, vehicles

#135 [IOPAE-1571] Add roles to identity at DNS Zone resource group scope
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: infra

#139 update app service and env links
  .changeset/hot-bats-exercise.md
  apps/licences/.env.production
  apps/vehicles/.env.production
  infra/resources/_modules/licences_app_service/locals.tf
  infra/resources/_modules/vehicles_app_service/locals.tf
Labels: changeset, infra

#142 [IOPAE-1531] Licences and Vehicles Opex dashboard
  .github/workflows/pr-opex-multi.yaml
  .github/workflows/release-opex-multi.yaml
  apps/licences/.opex/licences/env/prod/backend.ini
  apps/licences/.opex/licences/env/prod/backend.tfvars
  apps/licences/.opex/licences/env/prod/config.yaml
  apps/licences/.opex/licences/env/prod/terraform.tfvars
  apps/vehicles/.opex/vehicles/env/prod/backend.ini
  apps/vehicles/.opex/vehicles/env/prod/backend.tfvars
  apps/vehicles/.opex/vehicles/env/prod/config.yaml
  apps/vehicles/.opex/vehicles/env/prod/terraform.tfvars
Labels: ci

#141 [IOPAE-1578,IOPAE-1579] payments summary and detail pages
  .changeset/angry-falcons-brake.md
  apps/payments/public/locales/en/common.json
  apps/payments/public/locales/it/common.json
  apps/payments/src/components/payment-details/IUVListDetails.tsx
  apps/payments/src/components/payment-details/PaymentSectionDetails.tsx
  apps/payments/src/components/payments/ListItemPayment.tsx
  apps/payments/src/pages/payments/[requestId].tsx
  apps/payments/src/pages/payments/index.tsx
  apps/payments/src/utils/consts.ts
  packages/ui/lib/components/dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
  packages/ui/lib/components/icon/Icon.tsx
  packages/ui/lib/components/icon/svg/IconError.tsx
  packages/ui/lib/components/icon/svg/IconRefresh2.tsx
  packages/ui/lib/components/icon/svg/IconSuccess.tsx
  packages/ui/lib/components/icon/svg/IconWallet.tsx
  packages/ui/lib/components/icon/svg/IconWarning.tsx
  packages/ui/lib/components/icon/svg/originals/IconRefresh2.svg
  packages/ui/lib/components/icon/svg/originals/IconWallet.svg
  packages/ui/lib/components/list-item-action/ListItemAction.tsx
Labels: changeset, internal, payments

#148 [IOPAE-1597] show badge licence points in the licenses page
  .changeset/ten-fireants-accept.md
  apps/licences/public/locales/en/common.json
  apps/licences/public/locales/it/common.json
  apps/licences/src/components/licence-details/LicenceMovementDetail.tsx
  apps/licences/src/components/licence-details/LicenceSectionDetails.tsx
  apps/licences/src/components/licences/ListItemLicence.tsx
  apps/licences/src/utils/constants.ts
  apps/payments/src/components/payment-details/PaymentSectionDetails.tsx
  apps/vehicles/src/components/vehicle-details/VehicleSectionRca.tsx
  apps/vehicles/src/components/vehicles/ListItemVehicle.tsx
  packages/core/lib/utils/dates.ts
  packages/core/lib/utils/index.ts
Labels: changeset, internal, vehicles, licences, payments

#151 [IOPAE-1602] infra payments practices
  .github/workflows/azure-deploy-manual.yaml
  .github/workflows/azure-deploy.yaml
  .github/workflows/release.yaml
  infra/resources/_modules/payments_app_service/README.md
  infra/resources/_modules/payments_app_service/autoscaler.tf
  infra/resources/_modules/payments_app_service/locals.tf
  infra/resources/_modules/payments_app_service/main.tf
  infra/resources/_modules/payments_app_service/variables.tf
  infra/resources/_modules/practices_app_service/README.md
  infra/resources/_modules/practices_app_service/autoscaler.tf
  infra/resources/_modules/practices_app_service/locals.tf
  infra/resources/_modules/practices_app_service/main.tf
  infra/resources/_modules/practices_app_service/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: ci, infra

#147 [IOPAE-1571] Update module to give proper permissions to Opex scopes
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/main.tf
Labels: infra

#152 fix release action
  .github/workflows/release.yaml
Labels: ci, fix

#154 Autoscaling and KV reader role for payments and practices applications
  infra/resources/_modules/payments_app_service/README.md
  infra/resources/_modules/payments_app_service/autoscaler.tf
  infra/resources/_modules/payments_app_service/main.tf
  infra/resources/_modules/practices_app_service/README.md
  infra/resources/_modules/practices_app_service/autoscaler.tf
  infra/resources/_modules/practices_app_service/main.tf
Labels: infra

#145 [IOPAE-1586] Added ConsentView component into @io-ipatente/ui package
  .changeset/late-trains-deny.md
  packages/ui/lib/components/consent-view/ConsentView.tsx
  packages/ui/lib/components/consent-view/__tests__/ConsentView.test.tsx
  packages/ui/lib/components/consent-view/__tests__/__snapshots__/ConsentView.test.tsx.snap
  packages/ui/lib/components/consent-view/index.ts
  packages/ui/lib/components/index.ts
  packages/ui/stories/ConsentView.stories.tsx
Labels: changeset, internal
