Repository pagopa/io-ipatente, pull requests merged in 2024-10, with the labels that each got.

#15 [IOPAE-1429] Added missing axios dependency
  .changeset/tender-fireants-applaud.md
  apps/my-vehicles/package.json
  yarn.lock
Labels: my-vehicles, changeset

#16 [IOPAE-1430] Updated `coverage` script in the `package.json`
  .changeset/shaggy-dolls-search.md
  apps/my-vehicles/package.json
  turbo.json
Labels: my-vehicles, changeset

#17 [IOPAE-1414] Added `eslint` and `prettier` to `@io-ipatente/ui`
  .changeset/calm-bananas-kneel.md
  packages/.keep
  packages/ui/eslint.config.js
  packages/ui/lib/components/Button.tsx
  packages/ui/package.json
  yarn.lock
Labels: changeset, internal

#18 [IOPAE-1431] Added storybook to ui package
  .changeset/strong-tigers-fly.md
  apps/my-vehicles/src/hooks/__tests__/useVehicles.test.tsx
  packages/ui/.gitignore
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  packages/ui/stories/Button.stories.ts
  yarn.lock
Labels: my-vehicles, changeset, internal

#19 [IOPAE-1432] Added vitest with coverage v8
  .changeset/forty-jeans-grow.md
  apps/my-vehicles/vitest/vitest.setup.node.ts
  apps/my-vehicles/vitest/vitest.setup.react.ts
  packages/ui/.prettierignore
  packages/ui/lib/components/__tests__/Button.test.tsx
  packages/ui/package.json
  packages/ui/vitest.config.js
  packages/ui/vitest.setup.js
  yarn.lock
Labels: my-vehicles, changeset, internal

#20 [IOPAE-1433] Added `Logo` component
  .changeset/curly-foxes-own.md
  apps/my-vehicles/src/pages/index.tsx
  packages/ui/lib/components/logo/Logo.tsx
  packages/ui/lib/components/logo/__tests__/LogoIPatente.test.tsx
  packages/ui/lib/components/logo/__tests__/__snapshots__/LogoIPatente.test.tsx.snap
  packages/ui/lib/components/logo/index.ts
  packages/ui/lib/components/logo/svg/LogoIPatente.tsx
  packages/ui/lib/components/logo/svg/originals/LogoIPatente.svg
  packages/ui/lib/index.ts
  packages/ui/lib/theme.ts
  packages/ui/stories/components/logo/Logo.stories.ts
  turbo.json
Labels: my-vehicles, changeset, internal

#21 [IOPAE-1407] Added PageHeader component to @io-ipatente/ui package
  .changeset/gold-yaks-mix.md
  apps/my-vehicles/src/pages/_app.tsx
  apps/my-vehicles/src/pages/index.tsx
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/lib/components/Button.tsx
  packages/ui/lib/components/__tests__/Button.test.tsx
  packages/ui/lib/components/index.ts
  packages/ui/lib/components/page-header/PageHeader.tsx
  packages/ui/lib/components/page-header/__tests__/PageHeader.test.tsx
  packages/ui/lib/components/page-header/__tests__/__snapshots__/PageHeader.test.tsx.snap
  packages/ui/lib/components/page-header/index.ts
  packages/ui/lib/index.ts
  packages/ui/lib/theme.ts
  packages/ui/stories/Button.stories.ts
  packages/ui/stories/PageHeader.stories.ts
Labels: my-vehicles, changeset, internal

#22 [IOPAE-1406] Add TopBar component to @io-ipatente/ui package
  .changeset/perfect-numbers-flow.md
  packages/ui/lib/components/index.ts
  packages/ui/lib/components/logo/__tests__/LogoIPatente.test.tsx
  packages/ui/lib/components/logo/__tests__/__snapshots__/LogoIPatente.test.tsx.snap
  packages/ui/lib/components/top-bar/TopBar.tsx
  packages/ui/lib/components/top-bar/__tests__/TopBar.test.tsx
  packages/ui/lib/components/top-bar/__tests__/__snapshots__/TopBar.test.tsx.snap
  packages/ui/lib/components/top-bar/index.ts
  packages/ui/stories/Logo.stories.ts
  packages/ui/stories/TopBar.stories.tsx
Labels: changeset, internal

#25 [IOPAE-1408] Add ListItemAction component to @io-ipatente/ui package
  .changeset/silver-starfishes-move.md
  packages/ui/lib/components/index.ts
  packages/ui/lib/components/list-item-action/ListItemAction.tsx
  packages/ui/lib/components/list-item-action/__tests__/ListItemAction.test.tsx
  packages/ui/lib/components/list-item-action/__tests__/__snapshots__/ListItemAction.test.tsx.snap
  packages/ui/lib/components/list-item-action/index.ts
  packages/ui/stories/ListItemAction.stories.tsx
Labels: changeset, internal

#23 [IOPAE-1410] Added CardInfo component to @io-ipatente/ui package
  .changeset/gold-horses-happen.md
  packages/ui/lib/components/card-info/CardInfo.tsx
  packages/ui/lib/components/card-info/__tests__/CardInfo.test.tsx
  packages/ui/lib/components/card-info/__tests__/__snapshots__/CardInfo.test.tsx.snap
  packages/ui/lib/components/card-info/index.ts
  packages/ui/lib/components/index.ts
  packages/ui/lib/components/page-header/PageHeader.tsx
  packages/ui/lib/components/page-header/__tests__/__snapshots__/PageHeader.test.tsx.snap
  packages/ui/lib/components/top-bar/TopBar.tsx
  packages/ui/lib/components/top-bar/__tests__/__snapshots__/TopBar.test.tsx.snap
  packages/ui/lib/theme.ts
  packages/ui/stories/CardInfo.stories.tsx
Labels: changeset, internal

#26 [IOPAE-1409] Add SectionTitle component to @io-ipatente/ui package
  .changeset/strange-garlics-dress.md
  packages/ui/lib/components/index.ts
  packages/ui/lib/components/section-title/SectionTitle.tsx
  packages/ui/lib/components/section-title/__tests__/SectionTitle.test.tsx
  packages/ui/lib/components/section-title/__tests__/__snapshots__/SectionTitle.test.tsx.snap
  packages/ui/lib/components/section-title/index.ts
  packages/ui/lib/theme.ts
  packages/ui/stories/SectionTitle.stories.tsx
Labels: changeset, internal

#27 [IOPAE-1437] Added OperationResult component to @io-ipatente/ui package
  .changeset/healthy-tables-kiss.md
  packages/ui/lib/components/index.ts
  packages/ui/lib/components/operation-result/OperationResult.tsx
  packages/ui/lib/components/operation-result/__tests__/OperationResult.test.tsx
  packages/ui/lib/components/operation-result/__tests__/__snapshots__/OperationResult.test.tsx.snap
  packages/ui/lib/components/operation-result/index.ts
  packages/ui/stories/OperationResult.stories.tsx
Labels: changeset, internal

#28 [IOPAE-1439] Add CardCarousel component to @io-ipatente/ui package
  .changeset/forty-singers-fly.md
  packages/ui/lib/components/card-carousel/CardCarousel.tsx
  packages/ui/lib/components/card-carousel/CardCarouselItem.tsx
  packages/ui/lib/components/card-carousel/CardCarouselNavigationButton.tsx
  packages/ui/lib/components/card-carousel/__tests__/CardCarousel.test.tsx
  packages/ui/lib/components/card-carousel/__tests__/__snapshots__/CardCarousel.test.tsx.snap
  packages/ui/lib/components/card-carousel/index.ts
  packages/ui/lib/components/icon/Icon.tsx
  packages/ui/lib/components/icon/svg/IconArrowCircleLeftBold.tsx
  packages/ui/lib/components/icon/svg/IconArrowCircleRightBold.tsx
  packages/ui/lib/components/icon/svg/IconDocumentText.tsx
  packages/ui/lib/components/icon/svg/originals/IconArrowCircleLeftBold.svg
  packages/ui/lib/components/icon/svg/originals/IconArrowCircleRightBold.svg
  packages/ui/lib/components/icon/svg/originals/IconDocumentText.svg
  packages/ui/lib/components/index.ts
  packages/ui/package.json
  packages/ui/stories/CardCarousel.stories.tsx
  yarn.lock
Labels: changeset, internal

#29 [IOPAE-1446] MyVehicles: update openapi and mocks
  .changeset/wise-lies-end.md
  apps/my-vehicles/mocks/data/backend-data.ts
  apps/my-vehicles/mocks/handlers/backend-handlers.ts
  apps/my-vehicles/openapi.yaml
  apps/my-vehicles/src/hooks/__tests__/useVehicles.test.tsx
  apps/my-vehicles/src/pages/index.tsx
Labels: my-vehicles, changeset

#30 [IOPAE-1450] Update dependencies in @io-ipatente/ui package
  .changeset/eighty-items-repair.md
  apps/my-vehicles/next.config.mjs
  apps/my-vehicles/src/pages/_app.tsx
  packages/ui/.storybook/preview.ts
  packages/ui/lib/theme.ts
  packages/ui/package.json
  packages/ui/vite.config.ts
  yarn.lock
Labels: my-vehicles, changeset, internal

#31 [IOPAE-1454] Added AppLayout in my-vehicles app
  .changeset/selfish-stingrays-grin.md
  apps/my-vehicles/package.json
  apps/my-vehicles/public/locales/en/common.json
  apps/my-vehicles/public/locales/it/common.json
  apps/my-vehicles/src/components/TestComponent.tsx
  apps/my-vehicles/src/components/__tests__/test.test.tsx
  apps/my-vehicles/src/components/layouts/AppLayout.tsx
  apps/my-vehicles/src/pages/_app.tsx
  apps/my-vehicles/src/pages/index.tsx
  apps/my-vehicles/src/styles/Home.module.css
  apps/my-vehicles/src/styles/globals.css
  apps/my-vehicles/tsconfig.json
  packages/ui/eslint.config.mjs
  packages/ui/lib/components/card-carousel/CardCarousel.tsx
  packages/ui/lib/components/card-info/CardInfo.tsx
  packages/ui/lib/components/list-item-action/ListItemAction.tsx
  packages/ui/lib/components/operation-result/OperationResult.tsx
  packages/ui/lib/components/page-header/PageHeader.tsx
  packages/ui/lib/components/section-title/SectionTitle.tsx
  packages/ui/lib/components/top-bar/TopBar.tsx
  packages/ui/package.json
  yarn.lock
Labels: my-vehicles, changeset, internal

#32 bug: fix wrong changeset md file
  .changeset/loud-rats-build.md
Labels: bug

#33 chore: Add author on apps and packages package.json
  .changeset/green-brooms-thank.md
  apps/my-vehicles/package.json
  packages/ui/package.json
Labels: my-vehicles, changeset, internal, chore

#35 chore: Renaming my-vehicles app, add licenses, payments, practices apps folder
  .github/labeler.yml
  README.md
  apps/licences/.gitkeep
  apps/payments/.gitkeep
  apps/practices/.gitkeep
  apps/vehicles/.env.test
  apps/vehicles/.gitignore
  apps/vehicles/.prettierignore
  apps/vehicles/CHANGELOG.md
  apps/vehicles/README.md
  apps/vehicles/eslint.config.mjs
  apps/vehicles/mocks/browser.ts
  apps/vehicles/mocks/data/backend-data.ts
  apps/vehicles/mocks/handlers/backend-handlers.ts
  apps/vehicles/mocks/handlers/index.ts
  apps/vehicles/mocks/index.ts
  apps/vehicles/mocks/server.ts
  apps/vehicles/next-i18next.config.js
  apps/vehicles/next.config.mjs
  apps/vehicles/openapi.yaml
  apps/vehicles/package.json
  apps/vehicles/public/favicon.ico
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/public/next.svg
  apps/vehicles/public/vercel.svg
  apps/vehicles/src/__tests__/test.test.ts
  apps/vehicles/src/app/api/auth/[...nextauth]/route.ts
  apps/vehicles/src/app/api/auth/callback/fims/cookies/route.ts
  apps/vehicles/src/app/api/auth/mocks/mocks-util.ts
  apps/vehicles/src/app/api/auth/mocks/oidc/.well-known/openid-configuration/route.ts
  apps/vehicles/src/app/api/auth/mocks/oidc/authorize/route.ts
  apps/vehicles/src/app/api/auth/mocks/oidc/jwks/route.ts
  apps/vehicles/src/app/api/auth/mocks/oidc/route.ts
  apps/vehicles/src/app/api/auth/mocks/oidc/token/route.ts
  apps/vehicles/src/app/api/auth/mocks/oidc/userinfo/route.ts
  apps/vehicles/src/app/api/auth/signin/route.ts
  apps/vehicles/src/app/api/info/route.ts
  apps/vehicles/src/auth.ts
  apps/vehicles/src/common/client.ts
  apps/vehicles/src/components/layouts/AppLayout.tsx
  apps/vehicles/src/config/index.ts
  apps/vehicles/src/hooks/__tests__/useVehicles.test.tsx
  apps/vehicles/src/hooks/useVehicles.ts
  apps/vehicles/src/middleware.ts
  apps/vehicles/src/pages/_app.tsx
  apps/vehicles/src/pages/_document.tsx
  apps/vehicles/src/pages/index.tsx
  apps/vehicles/src/utils/testWrapper.tsx
  apps/vehicles/template-bff.hbs
  apps/vehicles/tsconfig.json
  apps/vehicles/types/i18next.d.ts
  apps/vehicles/types/next-auth.d.ts
  apps/vehicles/types/resources.ts
  apps/vehicles/vitest/vitest.config.node.mjs
  apps/vehicles/vitest/vitest.config.react.mjs
  apps/vehicles/vitest/vitest.setup.node.ts
  apps/vehicles/vitest/vitest.setup.react.ts
  packages/ui/package.json
  yarn.lock
Labels: internal, chore, vehicles

#39 [IOPAE-1422] Added withJWTAuthHandler wrapper
  .changeset/thin-apricots-hide.md
  apps/vehicles/src/lib/bff/__tests__/wrappers.test.ts
  apps/vehicles/src/lib/bff/constants.ts
  apps/vehicles/src/lib/bff/errors.ts
  apps/vehicles/src/lib/bff/wrappers.ts
  apps/vehicles/types/next-auth.d.ts
Labels: changeset, vehicles

#40 [IOPAE-1456] Add user's vehicle list
  .changeset/clean-onions-search.md
  apps/vehicles/openapi.yaml
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/src/components/layouts/AppLayout.tsx
  apps/vehicles/src/components/vehicles/ListItemVehicle.tsx
  apps/vehicles/src/hooks/useVehicles.ts
  apps/vehicles/src/pages/index.tsx
  apps/vehicles/src/pages/vehicles/[licensePlate].tsx
  apps/vehicles/src/pages/vehicles/index.tsx
  packages/ui/lib/components/icon/Icon.tsx
  packages/ui/lib/components/icon/svg/IconForbidden.tsx
  packages/ui/lib/components/icon/svg/IconTickCircleBold.tsx
  packages/ui/lib/components/icon/svg/IconWarning2Bold.tsx
  packages/ui/lib/components/icon/svg/IconWarningBold.tsx
  packages/ui/lib/components/icon/svg/originals/IconForbidden.svg
  packages/ui/lib/components/icon/svg/originals/IconTickCircleBold.svg
  packages/ui/lib/components/icon/svg/originals/IconWarning2Bold.svg
  packages/ui/lib/components/icon/svg/originals/IconWarningBold.svg
  packages/ui/lib/components/list-item-action/ListItemAction.tsx
  packages/ui/lib/components/list-item-action/__tests__/ListItemAction.test.tsx
  packages/ui/lib/components/list-item-action/__tests__/__snapshots__/ListItemAction.test.tsx.snap
  packages/ui/stories/ListItemAction.stories.tsx
Labels: changeset, internal, vehicles

#41 [IOPAE-1423] Added GET infoVeicoli api handler
  .changeset/cold-ladybugs-act.md
  apps/vehicles/src/app/api/infoVeicoli/route.ts
  apps/vehicles/src/lib/bff/__tests__/wrappers.test.ts
  apps/vehicles/src/lib/bff/business.ts
  apps/vehicles/src/lib/bff/wrappers.ts
  apps/vehicles/src/middleware.ts
  apps/vehicles/types/next-auth.d.ts
Labels: changeset, vehicles

#42 [IOPAE-1401] Add vehicle details
  .changeset/popular-zoos-wonder.md
  apps/vehicles/openapi.yaml
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/src/components/layouts/AppLayout.tsx
  apps/vehicles/src/components/vehicle-details/VehicleSectionDetails.tsx
  apps/vehicles/src/components/vehicle-details/VehicleSectionInspections.tsx
  apps/vehicles/src/components/vehicle-details/VehicleSectionRca.tsx
  apps/vehicles/src/components/vehicles/ListItemVehicle.tsx
  apps/vehicles/src/pages/vehicles/[licensePlate].tsx
  apps/vehicles/src/pages/vehicles/index.tsx
  apps/vehicles/src/utils/strings.ts
  packages/ui/lib/components/card-carousel/CardCarousel.tsx
  packages/ui/lib/components/card-carousel/__tests__/__snapshots__/CardCarousel.test.tsx.snap
  packages/ui/lib/components/card-info/CardInfo.tsx
  packages/ui/lib/components/card-info/__tests__/__snapshots__/CardInfo.test.tsx.snap
  packages/ui/lib/components/icon/Icon.tsx
  packages/ui/lib/components/icon/svg/IconCar1Bold.tsx
  packages/ui/lib/components/icon/svg/IconSecurityUserBold.tsx
  packages/ui/lib/components/icon/svg/originals/IconCar1Bold.svg
  packages/ui/lib/components/icon/svg/originals/IconSecurityUserBold.svg
  packages/ui/lib/components/section-title/SectionTitle.tsx
  packages/ui/lib/components/section-title/__tests__/__snapshots__/SectionTitle.test.tsx.snap
  packages/ui/lib/theme.ts
Labels: changeset, internal, vehicles

#43 [IOPAE-1471] Refinement of ListItemAction
  .changeset/many-jokes-lay.md
  apps/vehicles/src/components/vehicles/ListItemVehicle.tsx
  apps/vehicles/src/pages/vehicles/[licensePlate].tsx
  apps/vehicles/src/pages/vehicles/index.tsx
  packages/ui/lib/components/list-item-action/ListItemAction.tsx
  packages/ui/lib/components/list-item-action/__tests__/ListItemAction.test.tsx
  packages/ui/lib/components/list-item-action/__tests__/__snapshots__/ListItemAction.test.tsx.snap
  packages/ui/lib/theme.ts
  packages/ui/stories/ListItemAction.stories.tsx
Labels: changeset, internal, vehicles

#44 [IOPAE-1424] Added @io-ipatente/core package with client assertion function
  .changeset/lemon-eyes-sip.md
  apps/vehicles/package.json
  packages/core/.gitignore
  packages/core/.prettierignore
  packages/core/README.md
  packages/core/eslint.config.mjs
  packages/core/lib/bff/__tests__/client-assertion.test.ts
  packages/core/lib/bff/client-assertion.ts
  packages/core/lib/bff/index.ts
  packages/core/lib/index.ts
  packages/core/package.json
  packages/core/tsconfig.json
  packages/core/tsconfig.node.json
  packages/core/vite.config.ts
  packages/core/vitest.config.js
  turbo.json
  yarn.lock
Labels: changeset, internal, vehicles

#36 [IOPAE-1462] Updated @io-ipatente/ui theme
  .changeset/thirty-glasses-draw.md
  packages/ui/lib/components/card-info/CardInfo.tsx
  packages/ui/lib/components/card-info/__tests__/__snapshots__/CardInfo.test.tsx.snap
  packages/ui/lib/components/page-header/PageHeader.tsx
  packages/ui/lib/components/page-header/__tests__/__snapshots__/PageHeader.test.tsx.snap
  packages/ui/lib/theme.ts
  packages/ui/stories/ColorPalette.mdx
  packages/ui/stories/Typography.stories.tsx
Labels: changeset, internal

#47 Upgrade changeset action version
  .github/workflows/release.yaml
Labels: ci

#46 [IOPAE-1488] Removal of license plate for each inspection
  .changeset/wild-turtles-mix.md
  apps/vehicles/src/components/vehicle-details/VehicleSectionInspections.tsx
  apps/vehicles/src/components/vehicle-details/VehicleSectionRca.tsx
  apps/vehicles/src/pages/vehicles/[licensePlate].tsx
  packages/ui/lib/components/card-info/CardInfo.tsx
  packages/ui/lib/components/card-info/__tests__/__snapshots__/CardInfo.test.tsx.snap
  packages/ui/lib/theme.ts
Labels: changeset, internal, vehicles

#48 [IOPAE-1403] Empty state component
  .changeset/sharp-owls-hug.md
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/src/pages/vehicles/index.tsx
  packages/ui/lib/components/empty-state/EmptyState.tsx
  packages/ui/lib/components/empty-state/__tests__/EmptyState.test.tsx
  packages/ui/lib/components/empty-state/__tests__/__snapshots__/EmptyState.test.tsx.snap
  packages/ui/lib/components/empty-state/index.ts
  packages/ui/lib/components/index.ts
  packages/ui/stories/EmptyState.stories.tsx
Labels: changeset, internal, vehicles

#53 fix: Enable tag creation in changeset configuration
  .changeset/config.json
Labels: changeset, fix

#54 [IOPAE-1486] add RCA list empty state
  .changeset/soft-snakes-behave.md
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/src/components/vehicle-details/VehicleSectionInspections.tsx
  packages/ui/lib/components/card-info/CardInfo.tsx
Labels: changeset, internal, vehicles

#57 [IOPAE-1492] Add redirect from root to vehicles base path
  .changeset/mean-boxes-suffer.md
  apps/vehicles/next.config.mjs
  apps/vehicles/src/pages/index.tsx
Labels: changeset, vehicles

#56 [IPAE-1486] update RCA empty state in vehicle detail
  .changeset/short-keys-marry.md
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/src/components/vehicle-details/VehicleSectionRca.tsx
Labels: changeset, vehicles

#51 [IOPAE-1484] - Add breadcrumbs to vehicle detail page
  .changeset/odd-meals-sin.md
  apps/vehicles/public/locales/en/common.json
  apps/vehicles/public/locales/it/common.json
  apps/vehicles/src/components/layouts/AppLayout.tsx
  apps/vehicles/src/pages/_app.tsx
  apps/vehicles/src/pages/vehicles/[licensePlate].tsx
  apps/vehicles/src/pages/vehicles/index.tsx
Labels: changeset, vehicles

#62 [IOPAE-1489] add help button in header
  .changeset/tender-worms-shop.md
  apps/vehicles/src/components/layouts/AppLayout.tsx
  apps/vehicles/src/pages/assistance/index.tsx
  packages/ui/lib/components/top-bar/TopBar.tsx
  packages/ui/lib/components/top-bar/__tests__/TopBar.test.tsx
  packages/ui/lib/components/top-bar/__tests__/__snapshots__/TopBar.test.tsx.snap
  packages/ui/stories/TopBar.stories.ts
Labels: changeset, internal, vehicles

#58 [IOPAE-1483] update vehicles icons
  .changeset/twelve-plants-wash.md
  apps/vehicles/src/utils/strings.ts
Labels: changeset, chore, vehicles

#63 [IOPAE-1491] Add AssistanceInfo card
  .changeset/eleven-boxes-bow.md
  packages/ui/lib/components/assistance-info/AssistanceInfo.tsx
  packages/ui/lib/components/assistance-info/__tests__/AssistanceInfo.test.tsx
  packages/ui/lib/components/assistance-info/__tests__/__snapshots__/AssistanceInfo.test.tsx.snap
  packages/ui/lib/components/assistance-info/index.tsx
  packages/ui/lib/components/index.ts
  packages/ui/stories/AssistanceInfo.stories.tsx
Labels: changeset, internal

#65 chore: Fix MuiButton override in theme
  packages/ui/lib/theme.ts
Labels: internal, chore
