Repository pagopa/io-ipatente, pull requests merged in 2024-09, with the labels that each got.

#6 [IOPAE-1376] Add ci missing stuff
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/code-review.yaml
  .github/workflows/label.yaml
  package.json
  turbo.json
  yarn.lock
Labels: ci

#7 [IOPAE-1347] Add Vitest configuration
  .changeset/three-carrots-tease.md
  apps/my-vehicles/package.json
  apps/my-vehicles/src/__tests__/test.test.ts
  apps/my-vehicles/src/components/__tests__/test.test.tsx
  apps/my-vehicles/src/components/test-component.tsx
  apps/my-vehicles/tsconfig.json
  apps/my-vehicles/vitest/vitest.config.node.mjs
  apps/my-vehicles/vitest/vitest.config.react.mjs
  apps/my-vehicles/vitest/vitest.setup.node.ts
  apps/my-vehicles/vitest/vitest.setup.react.ts
  turbo.json
  yarn.lock
Labels: my-vehicles, changeset

#8 [IOPAE-1378] Refinement of msw
  apps/my-vehicles/mocks/browser.ts
  apps/my-vehicles/mocks/index.ts
  apps/my-vehicles/mocks/server.ts
  apps/my-vehicles/src/pages/_app.tsx
  apps/my-vehicles/src/pages/_document.tsx
Labels: my-vehicles

#9 [IOPAE-1375] Generate client from openapi spec
  .gitignore
  apps/my-vehicles/mocks/server.ts
  apps/my-vehicles/openapi.yaml
  apps/my-vehicles/package.json
  apps/my-vehicles/src/common/client.ts
  apps/my-vehicles/src/components/TestComponent.tsx
  apps/my-vehicles/src/components/__tests__/test.test.tsx
  apps/my-vehicles/vitest/vitest.setup.node.ts
  yarn.lock
Labels: my-vehicles

#11 [IOPAE-1398] Fetch vehicles
  apps/my-vehicles/.env.test
  apps/my-vehicles/.eslintrc.json
  apps/my-vehicles/.prettierignore
  apps/my-vehicles/eslint.config.mjs
  apps/my-vehicles/mocks/data/backend-data.ts
  apps/my-vehicles/mocks/handlers/backend-handlers.ts
  apps/my-vehicles/mocks/server.ts
  apps/my-vehicles/openapi.yaml
  apps/my-vehicles/package.json
  apps/my-vehicles/src/hooks/__tests__/useVehicles.test.tsx
  apps/my-vehicles/src/hooks/useVehicles.ts
  apps/my-vehicles/src/pages/_app.tsx
  apps/my-vehicles/src/pages/index.tsx
  apps/my-vehicles/src/utils/testWrapper.tsx
  apps/my-vehicles/template-bff.hbs
  apps/my-vehicles/tsconfig.json
  apps/my-vehicles/types/next-auth.d.ts
  apps/my-vehicles/vitest/vitest.config.node.mjs
  apps/my-vehicles/vitest/vitest.config.react.mjs
  apps/my-vehicles/vitest/vitest.setup.node.ts
  apps/my-vehicles/vitest/vitest.setup.react.ts
  yarn.lock
Labels: my-vehicles

#13 [IOPAE-1405] Add @ipatente/ui shared package
  .changeset/loud-rats-build.md
  apps/my-vehicles/package.json
  packages/ui/package.json
  packages/ui/src/components/Button.tsx
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  yarn.lock
Labels: my-vehicles, changeset, internal
