Repository pagopa/io-ipatente, pull requests merged in 2025-04, with the labels that each got.

#288 add logs in case of axios error
  .changeset/itchy-pens-hope.md
  apps/licences/src/app/api/puntiPatente/route.ts
Labels: changeset, licences

#281 [IOPAE-1940] Manage redirect URL after consent page
  .changeset/violet-pets-hang.md
  apps/licences/.env.development
  apps/licences/.env.production
  apps/licences/.env.test
  apps/licences/src/app/api/auth/signin/route.ts
  apps/licences/src/pages/consent/index.tsx
  packages/core/lib/config/config.ts
  packages/core/lib/middleware/middleware.ts
  packages/core/lib/utils/__tests__/strings.test.ts
  packages/core/lib/utils/index.ts
  packages/core/lib/utils/strings.ts
Labels: changeset, internal, licences

#289 fix: use same log for internal and prod
  .changeset/silent-rules-fetch.md
  apps/licences/src/app/api/puntiPatente/internal/route.ts
  apps/licences/src/app/api/puntiPatente/route.ts
Labels: changeset, fix, licences

#292 fix : update logs
  .changeset/hip-cows-mate.md
  apps/licences/src/app/api/puntiPatente/internal/route.ts
  apps/licences/src/app/api/puntiPatente/route.ts
Labels: changeset, fix, licences

#297 chore: Licences: Update applicationinsights to 3.6.0
  .changeset/twelve-mayflies-juggle.md
  apps/licences/package.json
  yarn.lock
Labels: changeset, chore, licences

#299 fix : update applicationinsight
  .changeset/sour-dryers-double.md
  apps/payments/package.json
  apps/practices/package.json
  apps/vehicles/package.json
  yarn.lock
Labels: changeset, vehicles, fix, payments, practices
