Repository pagopa/io-ipatente, pull requests merged in 2025-03, with the labels that each got.

#262 [IOPAE-1860]switch apim weu to apim itn
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/resources/_modules/licences_app_service/README.md
  infra/resources/_modules/licences_app_service/autoscaler.tf
  infra/resources/_modules/payments_app_service/README.md
  infra/resources/_modules/payments_app_service/autoscaler.tf
  infra/resources/_modules/practices_app_service/README.md
  infra/resources/_modules/practices_app_service/autoscaler.tf
  infra/resources/_modules/vehicles_app_service/README.md
  infra/resources/_modules/vehicles_app_service/autoscaler.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#266 add timestamp for duration to internal licences api
  .changeset/modern-actors-live.md
  .github/workflows/code-review.yaml
  apps/licences/src/app/api/puntiPatente/internal/route.ts
  apps/licences/src/lib/bff/business.ts
Labels: ci, changeset, licences

#268 [IOPAE-1904] add internal get voucher route
  .changeset/chilled-rockets-sin.md
  apps/licences/src/app/api/voucher/internal/route.ts
Labels: changeset, licences

#270 Bump next to `14.2.15`
  .changeset/mean-lamps-dance.md
Labels: changeset

#273 [IOPAE-1931]add new api puntiPatenteWithoutVoucher
  .changeset/dirty-sloths-accept.md
  apps/licences/src/app/api/puntiPatenteWithoutVoucher/internal/route.ts
Labels: changeset, licences

#272 [IOPAE-1514] Add favicon
  .changeset/forty-kiwis-press.md
  apps/licences/public/apple-icon.png
  apps/licences/public/favicon.ico
  apps/licences/public/icon.svg
  apps/licences/src/pages/_document.tsx
  apps/payments/public/apple-icon.png
  apps/payments/public/favicon.ico
  apps/payments/public/icon.svg
  apps/payments/src/pages/_document.tsx
  apps/practices/public/apple-icon.png
  apps/practices/public/favicon.ico
  apps/practices/public/icon.svg
  apps/practices/src/pages/_document.tsx
  apps/vehicles/public/apple-icon.png
  apps/vehicles/public/favicon.ico
  apps/vehicles/public/icon.svg
  apps/vehicles/public/next.svg
  apps/vehicles/public/vercel.svg
  apps/vehicles/src/pages/_document.tsx
  packages/core/lib/middleware/middleware.ts
Labels: changeset, internal, vehicles, licences, payments, practices

#275 [IOPAE-1932] update axios config
  .changeset/dull-stingrays-return.md
  infra/resources/_modules/licences_app_service/locals.tf
  infra/resources/_modules/payments_app_service/locals.tf
  infra/resources/_modules/practices_app_service/locals.tf
  infra/resources/_modules/vehicles_app_service/locals.tf
  packages/core/lib/utils/agent.ts
Labels: changeset, internal, infra

#264 [IOPAE-1599] Redirect users to license details if they have only one license
  .changeset/fuzzy-deers-tease.md
  apps/licences/package.json
  apps/licences/src/components/layouts/AppLayout.tsx
  apps/licences/src/hooks/useLicences.ts
  apps/licences/src/pages/_app.tsx
  apps/licences/src/pages/licences/[licenseNumber].tsx
  apps/licences/src/pages/licences/index.tsx
  apps/payments/package.json
  apps/payments/src/components/layouts/AppLayout.tsx
  apps/payments/src/hooks/usePayments.ts
  apps/payments/src/pages/_app.tsx
  apps/payments/src/pages/payments/index.tsx
  apps/practices/package.json
  apps/practices/src/components/layouts/AppLayout.tsx
  apps/practices/src/hooks/usePractices.ts
  apps/practices/src/pages/_app.tsx
  apps/practices/src/pages/practices/index.tsx
  apps/vehicles/package.json
  apps/vehicles/src/components/layouts/AppLayout.tsx
  apps/vehicles/src/hooks/useVehicles.ts
  apps/vehicles/src/pages/_app.tsx
  apps/vehicles/src/pages/vehicles/index.tsx
  packages/ui/lib/components/card-info/CardInfo.tsx
  packages/ui/lib/components/floating-button/FloatingButton.tsx
  packages/ui/lib/components/scroll-to-top-button/ScrollToTopButton.tsx
  yarn.lock
Labels: changeset, internal, vehicles, licences, payments, practices

#279 [IOPAE-1939] Bump vite, vitest, axios
  .changeset/rude-jeans-remember.md
  apps/licences/package.json
  apps/payments/package.json
  apps/practices/package.json
  apps/vehicles/package.json
  yarn.lock
Labels: changeset, vehicles, licences, payments, practices
